body {
        margin: 0; 
        padding-top: 70px;    
}
 
#board {
        margin: 16px auto;
        width: 320px;  
}
 
#drawboardCanvas {
        box-shadow: 0px 0px 12px 2px #999999;        
}

.infobox {
        text-align: center;
}

.infobox #character {
        font-weight: bold;
        font-size: 16pt;
}

.signature {
        font-style: italic;
        font-size: 9pt;
}
